<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.konai.appmeter.driver"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 20210823 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_appmeter_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar"
        android:usesCleartextTraffic="true">

        <!-- NAVER MAP API KEY -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="i647zj0aeb" /> <!-- android:value="33wc7t5p4g" -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".RegisterDriverActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@style/activityDialogTheme" /> <!-- android:theme="@android:style/Theme.Dialog" -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"> <!-- 02220207 -->
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
         <!--   <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".IntroActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BleDeviceActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="블루투스 기기 선택"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".pos_app_bluetoothLeActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="블루투스 기기 선택"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".setting.AMtestActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout" />
        <activity
            android:name=".setting.AMBleConfigActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".MapActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout" />
        <activity
            android:name=".RecordListActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout" />
        <activity
            android:name=".RecordDetailListActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout" />
        <activity
            android:name=".PayListActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout" />
        <activity
            android:name=".PaymentActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize" />
        <activity
            android:name=".MemberCertActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:launchMode="singleTask"> <!-- 20210823 -->
            >
        </activity>
        <activity
            android:name=".DriveInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout" />
        <activity
            android:name=".DayReportActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout" />
        <activity
            android:name=".InfoActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout" />
        <activity
            android:name=".TimsInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout" />

        <service
            android:name=".service.LocService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 추가 -->
        <receiver
            android:name=".socket.BroadCastManager"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- 20210823 -->
        <!-- 20220127 -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.konai.appmeter.driver.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>
    </application>

</manifest>